<html>
    <head>

    </head>
    <body>
        <h1>Test Form:</h1>
        <form method="post" action="/user">
            Name: <input type="text" name="user[name]"><br>
            Talent: <input type="text" name="user[talent]"><br>
            Phone: <input type="number" name="user[phone]"><br>
            Email: <input type="text" name="user[email]"><br>
            <input type="submit" value="Submit">
        </form>       
    </body>
</html>